<server description="WebApp">
    <featureManager>
        <feature>jakartaee-9.1</feature>
        <feature>servlet-5.0</feature>
        <feature>cdi-3.0</feature>
        <feature>jdbc-4.2</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9090"/>
    <variable name="default.https.port" defaultValue="9999"/>
    <variable name="app.context.root" defaultValue="/"/>
    <httpEndpoint
            host="*"
            httpPort="${default.http.port}"
            httpsPort="${default.https.port}"
            id="defaultHttpEndpoint"
    />
    <webApplication id="FIT" location="FIT.war" contextRoot="/"/>

    !-- Derby Library Configuration -->
    <library id="derbyJDBCLib">
        <fileset dir="${shared.resource.dir}/" includes="derby*.jar" />
    </library>


    <!-- Datasource Configuration -->
    <dataSource id="DefaultDataSource">
        <jdbcDriver libraryRef="derbyJDBCLib" />
        <properties.derby.embedded databaseName="ShopDB" createDatabase="create" />
    </dataSource>


</server>